.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.headerContainer {
  width: 100vw;
  z-index: 4;
  display: flex;
  justify-content: center;
}

.linkButton {
  color: white;
  font-size: 1.6rem;
}

.iconButton {
  fill: white
}

.showHeader {
  top: 0;
}

.hideHeader {
  top: -8.6rem;
}
